* { 
    margin: 0; 
    padding: 0; 
    outline: 0; 
}

body {
    font-size: 12px;
    line-height: 18px;
    font-family: arial, sans-serif;
    color: #383838;
    background: #3b3b3b url(../images/body.png);
}

a { 
    color: #0252aa; 
    text-decoration: none; 
    cursor: pointer; 
}
a:hover { 
    text-decoration: underline; 
}
a img { 
    border: 0; 
}

h2 { 
    font-family: 'Georgia', Arial, serif; 
    font-style: italic; 
    font-size: 45px; 
    line-height: 60px; 
    color: #fff; 
}
h3 { 
    font-family: 'Georgia', Arial, serif; 
    font-style: italic; 
    font-size: 22px; 
    line-height: 24px; 
    color: #0182b5; 
}
h4 { 
    font-family: 'Georgia', Arial, serif; 
    font-style: italic; 
    font-size: 16px; 
    line-height: 17px; 
    color: #0871b3; 
    font-weight: normal; 
}

input, textarea, select { 
    font-size: 10px; 
    font-family: arial, sans-serif; 
}
textarea { 
    overflow: auto; 
}